* {
    border: 2px dotted red;
    display: flex;
    flex-direction: column;
}
h1, h2, h3 {
    text-align: center;
    margin: 20px;
}
img {
    width: 500px;
}
ul {
    margin: 10px;
}
p {
    margin: 10px;
}
